.hidden {
    display: none !important;
}

body {
    overflow: hidden;
}

#title {
    position: absolute;
    left: 0;
    right: 0;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(223, 223, 223);
    text-align: center;
    font: 18px Arial, Sans-serif;
    font-weight: bold;

    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 3px groove rgb(136, 136, 136);;
    border-right: 3px groove rgb(136, 136, 136);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#title p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#map-container {
    position: relative;
}

/* Map */
#svg_choropleth {
    /* border: black 1px solid; */
    background-color: rgb(210, 255, 255);
    width: 100vw;
    height: 100vh;
}

#choropleth {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

#data-viz {
    position: absolute;
    bottom: 2%;
    right: 2%;
    width: 370px;
    height: 350px;
    z-index: -1;
}

#graph-tooltip {
    position: absolute;
    z-index: 10;
}

.line {
    stroke: "grey";
    stroke-width: 3px;
}

.chart_title {
    fill: black;
    font: 18px Arial, Sans-serif ;
    font-weight: bold;
}

.label {
    fill: black;
    font: 12px Arial, Sans-serif;
}

.axis_label {
    fill: black;
    font: 14px Arial, Sans-serif;
}

svg.loading {
    /* background-color: rgb(207, 207, 207); */
    opacity: 0.4;
}

/* Cards */
.card {
    position: absolute;
    /* padding: 10px; */

    background-color: rgb(223, 223, 223);

    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 3px groove rgb(136, 136, 136);;
    border-right: 3px groove rgb(136, 136, 136);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.card .title {
    font: 15px Arial, Sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 0 0 10px 0;
    padding: 5px 7px 5px 7px;
    vertical-align: middle;
    border-bottom: 1px solid black;
}

.card .card-body {
    padding: 0 7px 7px 7px;
    font: 14px Arial, Sans-serif;
}

/* Demand Dashboard */
.small-text {
	font-size: 0.6em;
	margin-top: 5px;
}

/* Demand Dashboard */
.small-text {
	font-size: 0.6em;
	margin-top: 5px;
}

/* Demand Dashboard */
.small-text {
	font-size: 0.6em;
	margin-top: 5px;
}

/* States */
#map path {
    fill: rgb(75, 75, 75);
    stroke: white;
}

path.selected {
    fill: rgb(255, 140, 140) !important;
    /* stroke: black !important; */
    /* stroke-width: 2px; */
}

#plants path {
    stroke: black;
	fill: white;
}

/* Data Selectors Card */
#data-selectors {
    top: 25px;
    left: 2%;
}

.card-body {
    margin: 0;
}

ul.no-dots li {
    list-style: none;
}

/* New Sources Card */
#new-sources {
    bottom: 220px;
    left: 2%;
}

#new-sources > div {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	
	justify-content: space-around;
	align-items: center;
	
	padding: 0 5px 5px 5px;
	gap: 7px;
	
	width: 175px;
}

#new-sources img {
}

/* Plant Details Card */
#plant-details {
    /* top: 350px; */
    left: 2%;
    bottom: 2%;
}

#plant-details form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6px;
}

form label {
    grid-column: 1/2;
    text-align: right;
}

form input,
form select {
    grid-column: 2/4;
}

form button.left {
    grid-column: 1/2;
}

form button.right {
    grid-column: 3/4;
}

/* Loading Spinner */
/* https://projects.lukehaas.me/css-loaders/ */
.loader {
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 100;
  }

.loader:after {
    content: " ";
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: rgb(255, 0, 0) transparent rgb(255, 0, 0) transparent;
    animation: loader 1.2s linear infinite;
  }

  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
 
.d3-tip {
  	  line-height: 1;
  	  /* font-weight: bold; */
  	  padding: 12px;
  	  background: rgba(108, 122, 137, 1);
  	  color: #fff;
  	  border-radius: 100px;
      font: 18px Arial, Sans-serif;
	}

#plants:after {
  	  box-sizing: border-box;
  	  display: inline;
  	  font-size: 10px;
  	  width: 100%;
  	  line-height: 1;
  	  color: rgba(108, 122, 137, 1);
  	  content: "\25BC";
  	  position: absolute;
  	  text-align: center;
	}

.d3-tip.n:after {
  	  margin: -1px 0 0 0;
  	  top: 100%;
  	  left: 0;
	}

#dragdrop-item {
    position: absolute;
}
